body {
    background-color: rgb(12, 12, 68);
    color: white;
  }
  
  .container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 4rem;
  }
  
  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header p {
    margin: 0;
  }
  
  img {
    margin-right: 1rem;
  }
  
  .content {
    margin-top: 2rem;
  }
  
  .tab {
    background-color: rgb(2, 2, 192);
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .active {
    background-color: #f7df1e;
    color: black;
  }
  .tab-active {
    min-height: 10rem;
    background-color: #f7df1e;
    color: black;
    padding: 1.5rem;
    width: 35rem;
  }
  
  ul li {
    margin-top: 10px;
  }